.container{
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn {
  border-radius: 30px;
  padding: 10px 25px;
  font-weight: bold;
}
